* {
    box-sizing: border-box;
    padding: 5px;
    margin: 5px;
}
body {
    background-color: rgb(148, 167, 223);
}
.header {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif sans-serif;
    font-size: 15px;
    color: yellow;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif sans-serif;
}
.header div ul li {
    text-align;
    margin-left: 25px;
}
.work {
    box-shadow: 3px;
}
.contact {
    text-align: center;
}
img {
    width: 100%;
}