* {
    /* box-sizing: border-box; */
    padding: 5px;
    margin: 5px;
}
body {
    background-color: rgb(229, 231, 239);
}
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', Arial, sans-serif;
    background-color: rgb(135, 141, 160);
    color: black;
}
.header h1 {
    display: inline-block;
    font-size: 56px;
    
.div nav ul li { 
    ;
} 
}
.contact {
    justify-content: center;
}
.work {
    padding: 20%;
    margin: 10%;
    flex-direction: row;
}
#box {
    width: 50%;
    height: 50%;
}
img {
    width: 400px;
    height: 400px;
}