* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media screen and (min-width: 640px){
body {
    background-color: rgb(229, 231, 239);}
}
    
    
header {
    padding: 20px;
    font-size: 30px;
    font-family: 'Trebuchet MS', Arial, sans-serif;  
}
ul {
    display: flex;
    justify-content: space-evenly;
}
.contact {
    justify-content: center;
}
.work {
    padding: 20%;
    margin: 10%;
    flex-direction: row;
}
#box {
    width: 50%;
    height: 50%;
}
img {
    width: 400px;
    height: 400px;
}